@use "../../styles/variables" as *;

.keypad {
  @include flex-center;
  flex-direction: column;

  gap: 0.7rem;
  margin-bottom: $space-lg;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 2rem;

  &__row {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    flex-wrap: nowrap;
  }

  &__key {
    @include keypad-style;
  }

  &__key--wide {
    width: 70px;
  }

  &__key--green {
    background: $green;
    border-color: $green;
    color: $bg;
  }

  &__key--grey {
    background: $text-muted;
    border-color: $text-muted;
    color: $bg;
  }

  &__key--yellow {
    background: $yellow;
    border-color: $yellow;
    color: $text;
  }

  .backspace {
    margin: 7px 0;
    font-size: 30px;
  }

  @media (max-width: 600px) {
    &__row {
      gap: 0.4rem;
    }

    &__row--offset {
      padding-left: 10px;
    }

    &__key {
      width: 40px;
      height: 40px;
      line-height: 35px;
      font-size: 16px;
    }

    &__key--wide {
      width: 60px;
    }

    .backspace {
      font-size: 24px;
      margin: 5px 0;
    }
  }
}

@media (max-width: 400px) {
  .keypad__row {
    max-width: 100%;
    flex-wrap: wrap;

    &__key {
      width: 35px;
      height: 35px;
      line-height: 30px;
      font-size: 14px;
    }

    &__key--wide {
      width: 50px;
    }

    .backspace {
      font-size: 20px;
      margin: 3px 0;
    }
  }
}
